.bookingContainer {
    margin: 0rem auto;
}

.bookingForm {
    margin: 0 auto;
}

.bookingForm>* {
    background-color: white;
    color: blue;
}

.bookingContainer>h1 {
    font-family: "lilita one", cursive;
    font-weight: 500;
}

form {
    background-color: white;
    padding: 1.5rem;
}

.formField>* {
    background-color: white;
    color: blue;
}

.formField {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 1rem 0rem;
}

.formField>input {
    margin: 0 auto;
    right: 100%;
}

textarea {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    width: 400px;
    height: 150px;
    padding: 0.5rem;
}

@media screen and (min-width: 640px) {
    .bookingContainer {
        width: 600px;
    }
}