.bookingContainer {
    margin: 0rem auto;
}

.bookingForm>* {
    background-color: white;
    color: blue;
}

.bookingContainer>h1 {
    font-family: "lilita one", cursive;
    font-weight: 500;
}

form {
    background-color: white;
    padding: 1.5rem;
}

.formField>* {
    background-color: white;
    color: blue;
}

.formField {
    width: 100%;
    background-color: white;
    padding: 1rem 0rem;
}

input {
    margin: 0 auto;
}

@media screen and (min-width: 640px) {
    .bookingContainer {
        width: 600px;
    }
}