.serviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.serviceoptions {
    border-radius: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

span {
    padding: 0rem 0.3rem;
    font-weight: 700;
}


/* Service Herocard styling */
.serviceoptions>a {
    text-decoration: none;
}

.serviceDetails {
    padding: 2rem 0rem
}

.namePrice {
    display: flex;
    align-content: bottom;
    justify-content: space-between;
}

.namePrice>h3 {
    margin: auto 0;
    font-weight: 600;
}

.heroimg {
    width: 100%;
    height: auto;
}

